rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null && request.auth.uid in [
        'PASTE_YOUR_UID_HERE'
      ];
    }

    match /submissions/{doc} {
      allow create: if request.resource.data.keys().hasOnly(
        ['type', 'name', 'message', 'date', 'seen', 'seenBy'])
        && request.resource.data.type in ['ask', 'prayer']
        && request.resource.data.message is string
        && request.resource.data.message.size() > 0
        && request.resource.data.message.size() < 5000
        && request.resource.data.name is string
        && request.resource.data.name.size() < 100
        && request.resource.data.seen == false
        && request.resource.data.seenBy is list;

      allow read, update, delete: if isAdmin();
    }

    match /board/{doc} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}